 @import url("https://use.typekit.net/qnw5bzs.css");

*{
	padding: 0;
	margin:0;
	box-sizing: border-box;
}

html{
	font-family: source-code-pro, monospace;
	font-weight: 800;
	font-style: normal;
	font-size:100%;
	font-display: fallback;
}

html, body {
  height: 100%;
  width: 100%;
}

body{
 	background-color: #17181c;
    margin-left: 0px;
	margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    color: #fff;
}

header{
	position: fixed;
	z-index: 300;
}
nav{
  position: fixed;
  top: 5%;
  right:5%;
  display: inline-flex;
  text-align: right;
  color: white;
  font-family: source-code-pro, monospace;
  font-weight: 200;
  font-style: normal;
  font-size: 0.7rem;
  -moz-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
nav ul li{
	list-style: none;
	margin-bottom: 0.6rem;
}
nav ul li a{
	text-decoration: none;
	color: #fff;
}

.logo{
	position: fixed;
	top: 5%;
	left: 5%;
	display: inline-flex;
	text-align: left;
	color: #fff;
	font-family: source-code-pro, monospace;
	font-weight: 200;
  	font-style: normal;
  	font-size: 0.7rem;
  	-moz-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  	-webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  	transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);	
}
.logo .link{
	color: #fff;
	text-decoration: none;
}

.job, .cr{
	position: fixed;
	bottom: 5%;
	font-weight: 100;
	font-size: 0.6rem;
	display: none;
}

.job{
	left: 5%;
}
.cr{
	right: 5%;
}

.hero{
	position: relative;
	height: 100vh;
}

.hero-img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 400;
}

.hero-img img{
	max-width: 15rem;
	animation: upndown 3s linear infinite;
}

@keyframes upndown{
	0% {transform: translateY(20px);}
	50% {transform: translateY(0px);}
	100% {transform: translateY(20px);}
}

.name01 h1, .name02 h1{
	height: 150px;
	font-size: 4rem;
}

.name01 h1{
	position: absolute;
	top: 40%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.name02 h1{
	position: absolute;
	top: 70%;
    left: 54%;
    transform: translate(-50%, -50%);
}
.outline h1{
	color: transparent;
	-webkit-text-stroke: 1px #fff;
	z-index: 10000;
}

.hero-img-bar {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 55%;
    z-index: -1;
}

.hero-img-bar img{
	height: 65vh;
}

.about{
	position: absolute;
	bottom: 5%;
	font-size: 0.8rem;
	font-weight: 200;
	width: 50%;
	right: 5%;
}

.pre-title{
	display: inline-flex;
	margin-left: 8%;
	margin-top: 5rem;
}

.pre-title p{
	font-weight: 200;
	font-size: 1rem;
}

img.arrow {
    width: 1.2rem;
    margin-left: 5px;
}

.incipit-works{
	font-weight: 200;
	font-size: 0.8rem;
	width: 42ch;
	margin: 4rem 1rem 4rem auto;
}

.work-all{
	margin: 4rem 8%;
}
.count{
	background: transparent;
    width: 20px;
    height: 20px;
    position: relative;
    border-radius: 100%;
    border: 1px solid #fff;
}

.num{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 200;
}

.date {
    font-weight: 100;
    font-size: 0.8rem;
    color: #9d9797;
}

.w-arrow{
	width: 2rem;
	transform: rotate(90deg);
}

.w-txt-box{
	display: grid;
	grid-template-columns: 52px 1fr auto;
}

.w-txt-box1{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.project-name{
	font-size: 2rem;
	line-height: 1;
}

.w-txt-box3{
	display: flex;
	align-items: flex-end;
}

.w-img img{
	width: 100%;
	margin-top: 1rem;
}

@media(max-width: 767px){
	.w-ind:not(:nth-child(1)){
		margin-top: 3rem;
	}
}

@media(min-width: 768px){
	.hero-img img{
		max-width: 18rem;
	}
	.name01 h1, .name02 h1{
		font-size: 6rem;
	}
	.name01 h1{
		top: 36%;
   	 	left: 43%;
   	}
   	.name02 h1{
		top: 65%;
    	left: 57%;
	}
	.logo, nav a{
		font-weight: 500;
		font-size: 0.9rem;
	}
	.job, .cr{
		font-size: 0.8rem;
		display: initial;
	}
	.about{
		max-width: 38ch;
		right: 15%;
	}
	.about h3 {
    	font-size: 1.5rem;
    	font-weight: 200;
    	margin-bottom: 1rem;
	}
	.about p{
		font-size: 1rem;
	}
	.incipit-works{
		margin-right: 8%;
	}
	.work-all {
    	margin: 4rem 8%;
    	display: grid;
    	grid-template-columns: 1fr 1fr;
    	column-gap: 3rem;
	}
	.pre-title p{
		font-weight: 200;
		font-size: 1.2rem;
	}
	.incipit-works{
		font-weight: 200;
		font-size: 1rem;
		width: 42ch;
		margin-right: 8%;
	}
	.m {
    	padding-top: 9rem;
	}
}

@media(min-width: 1024px){
	.work-all {
    	margin: 4rem 20%;
	}
	.pre-title{
		margin-left: 20%;
	}
	.incipit-works{
		margin-right: 20%;
	}
}

@media(min-width: 1200px){
	.work-all {
    	margin: 4rem 15%;
	}
	.pre-title{
		margin-left: 15%;
	}
	.incipit-works{
		margin-right: 15%;
	}
	.work-all {
    	column-gap: 7rem;
	}
}